html, body
  height 100%

#graph
  text.card
    pointer-events none

  rect.node
    cursor move
    stroke black
    stroke-width 1.5px

  path.link
    fill #333

#contextmenu
  a.dropdown-item
    cursor pointer
